<!--
  Generated template for the YoutubePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>youtube</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h2>estoy en youtube</h2>
</ion-content>
